version: "3"
services:
  strapi:
    build:
      context: ./app
      dockerfile: Dockerfile
    env_file:
      - .env
    environment:
      DATABASE_CLIENT: postgres
      DATABASE_NAME: strapi
      DATABASE_HOST: postgres
      DATABASE_PORT: 5435
      DATABASE_USERNAME: strapi
      DATABASE_PASSWORD: strapi
    volumes:
      - ./app:/srv/app
    ports:
      - "8093:8093"
    depends_on:
      - postgres

  postgres:
    image: postgres
    env_file:
      - .env
    environment:
      POSTGRES_DB: strapi
      POSTGRES_USER: strapi
      POSTGRES_PASSWORD: strapi
    ports:
      - "5435:5435"
    volumes:
      - ./data:/var/lib/postgresql/data
    command: -p 5435
